extends layout

block slides
  section.slide#title
    :markdown
      # Deck.js Boilerplate

  section.slide
    :markdown
      ## Deck.js Boilerplate

      An opionated starting point for [deck.js][deckjs] presentation goodness.

      This is my custom set of tweaks / additions to deck for faster and
      easier authorship, including:

      * **[CodeMirror][cm]**: Live JavaScript code sample execution.
      * **[CoffeeScript][cs]**: Support for CoffeeScript code execution.
      * **[Jade Templates][jade]**: Can optionally build using Jade
        (with Markdown) support.

      [deckjs]: https://github.com/imakewebthings/deck.js
      [jade]: https://github.com/iros/deck.js-codemirror
      [cm]: https://github.com/iros/deck.js-codemirror
      [cs]: http://coffeescript.org/

  section.slide
    :markdown
      ## JavaScript Example

      You can edit and run the following code sample from your browser:

    textarea.code#code(name="code", mode="javascript", runnable="true", style="display: none;").
      var toCamel = function (str) {
        return str.replace(/(\_[a-z])/g, function (val) {
          return val.toUpperCase().replace('_', '');
        });
      };

      console.log(toCamel("my_cased_variable"));

  section.slide
    :markdown
      ## CoffeeScript Example

      You can even run CoffeeScript code samples!

    textarea.code#code(name="code", mode="coffeescript", runnable="true", style="display: none;").
      toCamel = (str) ->
        str.replace /(\_[a-z])/g, (val) ->
          val.toUpperCase().replace '_', ''

      console.log toCamel "my_cased_variable"
